.login-container {

    margin: auto;


}

.container {
    width: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.page-header {
    padding-top: 15px;
    font-weight: bold;
    align-items: center;
    justify-self: center;
}

.btn {
    width: 100%;
    height: 40px;
}

.donthaveaccount {

    justify-self: center;
    padding-bottom: 40px;

}